@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Кинотеатр "Киноман"</h1>
    <p class="lead">Самый лучший кинотеатр в твоем городе!</p>
    <p>@Html.ActionLink("Афиша фильмов", "ListOfFilms", "main")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Свежие новинки</h2>
        <p>
        Смотрите новые фильмы в хорошем качестве быстрее всех только в нашем кинотеатре!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Низкие цены</h2>
        <p>В нашем кинотеатре цены самые низкие, при этом держим планку качества!</p>
    </div>
    <div class="col-md-4">
        <h2>Уникальный вип-зал</h2>
        <p>Еще не пробовали смотреть кино в нашем вип-зале? Попробуйте скорее! Это перевернет ваши представления о комфортном просмотре фильмов!</p>
    </div>
</div>